@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }


.q-controls {display: none;}

dl.expandcollapse dd   {display: block !important;margin: 0 1em 0 1em;}
dl.expandcollapse dt   {background: none;}

.mainfooter a   {display: none !important;}
.nav-tabs a     {text-decoration: none;}
ul.leftNav        {display: none !important;}
div.pull-right     {display: none !important;}
div.topnav         {display: none !important;}

#sidebar    {display: none;}
.functions  {display: none;}
.navbar     {display: none;}

.table-responsive {width: 95%; border-right: none;}
.table-bordered   {border-right: 1px solid #ddd;}
.mainContent    { margin: 0 1em 0 1em;}
.note           {border: 1px solid #ddd; border-radius: 5px;}

}

abbr[data-original-title], abbr[title] {
    border-bottom: none;
}
abbr[title] {
    border-bottom: none;
}

abbr[title], acronym[title] {
    text-decoration: none;
}

abbr[data-original-title] {
    border-bottom: none;
}